#Archivos
*.orig

#Carpetas
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/
nbtarget/

#Logs
logs/
*.log

#Eclipse
.project
.classpath
.settings/
.factorypath
bin/

#IntelliJ / VS Code
.idea/
*.iml
.vscode/

#Maven
dependency-reduced-pom.xml

#Reportes generados por DailyReport
reports/
